# Compiled Python files
*.pyc

# Cabal artifacts
.cabal-sandbox

# Folder view configuration files
.DS_Store
Desktop.ini

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.Spotlight-V100
.Trashes

# Local server settings
local_settings.py

# 3rd party artifacts
bower_components
static/vendor
node_modules

dist
